@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
      font-family: 'Roboto', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
display: inline-block;
list-style: none;
}
nav ul li{

    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: white;
}
p{
    color: white;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-2{
    text-align: center;
    font-size: 45px;
    color: white;
   
    margin-top: -2%;
}
.col-2 h1{
    font-weight: 400;
    
    font-family: 'Cormorant Garamond', serif;
}
@media screen and (max-width : 900px) {
    .col-2{
        text-align: center;
        font-size: 17px;
        color: white;
        margin: -5%;
    }
}
@media screen and (max-width : 700px) {
    .col-2{
        text-align: center;
        font-size: 15px;
        color: white;
        /* margin: -10%; */
    }
}
@media screen and (max-width : 500px) {
    .col-2{
        text-align: center;
        font-size: 12px;
        color: white;
        /* margin: -10%; */
    }
}
@media screen and (max-width : 400px) {
    .col-2{
        text-align: center;
        font-size: 10px;
        color: white;
        margin: -5%;
    }
    
}
.logo h2{
    color: white;
    margin-left: 5px;

        font-family: 'Cormorant Garamond', serif;
    
}
@media screen and (max-width : 800px) {
    .logo h2{
        font-size: 13px;
    }
}
.header{
    background-image: url('images/header.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 700px;
}   

/* .header .row {
    margin-top: 70px;
} */
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px ;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background-color: #ff523b;
    width: 70px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.col-4:hover{
    transform: translateY(-10px);
}
.offer{

    background: radial-gradient(#fff,#05B8D1);
    margin: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding: 50px;
}
small{
    color: #555;
}


/* footer  */

.footer{
    background-color: #000000;
    color: white;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: white;
}
.footer h3{
    color: white;
    margin-bottom: 20px;
}

.footer-col-1,.footer-col-2,.footer-col-3 ,.footer-col-4{
min-width: 250px;
margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    text-align: center;
    flex-basis: 30%;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 30px;
}
.footer-col-3,.footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background-color: white;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    float: left;
    width: 28px;
    margin-left: 20px;
    display: none;
}

/* media query for menu  */

@media screen and (max-width:800px ) {
   
    nav ul{
        text-align: center;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #8c432b;
    overflow: hidden;
    transition: max-height 0.5s;    
}  
  nav ul li{
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a{
   color: white;
  }
  .menu-icon{
    cursor: pointer;
    display: block;
   
}

}

/* for 600 screen size  */



 

  .services-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2% auto;
    align-items: center;
    gap: 5%;
  
}

 
.services-card {
    width: 300px;
    background-color: white;
    box-shadow: 10px 10px 25px  rgb(125, 125, 125) ;
    margin-top: 2%;
}

@media screen and (max-width : 1350px) {
    .services-cards{
        margin-top: -10%;
    }
}
@media screen and (max-width : 1250px) {
    .services-cards{
        margin-top: -10%;
    }
}
@media screen and (max-width : 1110px) {
    .services-cards{
        margin-top: -15%;
    }
}

@media screen and (max-width : 1120px) {
    .services-cards{
        margin-top: -20%;
    }
}

@media screen and (max-width : 970px) {
    .services-cards{
        margin-top: -25%;
    }
}
@media screen and (max-width : 860px) {
    .services-cards{
        margin-top: -30%;
    }
}
@media screen and (max-width : 730px) {
    .services-cards{
        margin-top: -42%;
    }
}

@media screen and (max-width :670px) {
    .services-cards{
        margin-top: -55%;
    }
}

@media screen and (max-width :610px) {
    .services-cards{
        margin-top: -65%;
    }
}

@media screen and (max-width :550px) {
    .services-cards{
        margin-top: -70%;
    }
}

@media screen and (max-width :510px) {
    .services-cards{
        margin-top: -85%;
    }
}

@media screen and (max-width :470px) {
    .services-cards{
        margin-top: -95%;
    }
}


@media screen and (max-width :430px) {
    .services-cards{
        margin-top: -115%;
    }
}


@media screen and (max-width :380px) {
    .services-cards{
        margin-top: -130%;
    }
   
}

@media screen and (max-width :220px) {
    .services-cards{
        margin-top: -250%;
    }
   
}

.s-card-img img {
    width: 300px;
    height: 250px;
}

.s-card-content {
    padding: 15px;
    text-align: center;
}


/* for mobile view  end*/
/* our services css end  */


/* footer css start  */

.footer{
    background-color: #8c432b;
    height:500px;
    padding: 40px;
}
.contactos-heading h2{
        text-align: center;
        color: white;
        font-weight: 800;
        font-size: 45px;

}   
.contact-icons img{
    width: 100px;
    margin-right: 50px;

}
@media screen and (max-width:800px){
    .contact-icons img{
        width: 50px;
    
    }  
    #social-icons img{
        width: 50px;
        }
        #social-icons{
            height:50px;
            margin-top: -2%;
        }
        .footer{
            height: 320px;
        }
}

.contact-icons{
display: inline-block;
float: left;
}
.social-icons img{
width: 100px;
}
.social-icons{
background-color: #8c432b;
height:105px;

}
.social-icons img{
float: right;
}
.contact-icons ul li{
    font-size: 15px;
    display: flex;
}

.contact-icons-text
{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
    font-weight: 600;
}


/* footer css end  */
